header{
  margin-top: 0px;
  padding: 20px;
  background-color: black;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans',sans-serif;
  background:#f4f4ef;
  }
h1{
  text-transform: uppercase;
  color: #f4f4ef;
  }
.center {
  text-align: center;
  }
a {
  color:#636363;
  text-decoration: none;
  transition:all 0.5s ease-in;
  } 
a:hover {
  text-decoration: underline;
  }
.formRefStyle{
  padding-left: 20px;
  margin: 15px 0 15px 0;
}
input.boxDecoration{
  border-radius: 5px;
  height: 20px;
  width: 300px;
  text-align: center;
}
button{
  margin-left: 10px;
  border-radius: 5px;
  height: 27px;
  width: 100px;
}
.buttonActuar{
  background-color: rgb(235, 252, 7);
  font-weight:bolder;
}
.buttonActuar:hover{
  background-color: rgb(234, 240, 157);
  font-size: large;
  font-weight:bolder;
}
.buttonCrear{
  background-color: rgb(7, 252, 19);
  font-weight:bolder;
}
.buttonCrear:hover{
  background-color: rgb(113, 236, 119);
  font-size: large;
  font-weight:bolder;
}
.buttonEliminar{
  background-color: rgb(252, 7, 7);
  font-weight:bolder;
}
.buttonEliminar:hover{
  background-color: rgb(245, 150, 150);
  font-size: large;
  font-weight:bolder;
}
.buttonEditar{
  background-color: rgb(252, 154, 7);
  font-weight:bolder;
}
.buttonEditar:hover{
  background-color: rgb(243, 207, 152);
  font-size: large;
  font-weight:bolder;
}

.todoList{
  border-radius: 5px;
  margin: 20px;
  border: 5px solid black;
  line-height : 30px;
}

.bodyTodoList{
  padding-left: 40px;
  margin: 20px 0 30px 0;
}

.bodyTodoListMapName{
  width: 400px;
}

@media only screen and (max-width: 780px) {
  .bodyTodoListMapName{
    width: 400px;
  }
}
